<!DOCTYPE html>
<html>
  <head>
    <title>InstantRec</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://kit.fontawesome.com/e2e2ca82dd.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body
    data_student_signed_in="<%= student_signed_in? ? "true" : "false" %>"
    data_professor_signed_in="<%= professor_signed_in? ? "true" : "false" %>"
  >
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
